.myAlarm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

table {
  width: 90%;
  margin: 1rem auto;
  background-color: black;
}

.table-alarm {
  background-color: black;
  color: white;
  margin: 3rem 0 2rem;
  height: 30rem;
  scrollbar-width: none;
  overflow-x: hidden; /* Activa el scroll vertical */
  overflow-y: auto; /* Activa el scroll vertical */

  th, td {
    /*padding: .5rem;*/
    color: white;
    border-bottom: 1px solid white;
  }

  th {
    font-family: 'Chandas', sans-serif;
    font-size: 1.5rem;
  }

  td {
    font-family: 'Dialog', sans-serif;
    font-size: 1.2rem;
  }

  .alarm-column {
    width: auto;
    /*font-size: 2rem;*/
  }

  .select-column {
    width: 4rem;
  }

  .alarma-button {
    padding: 0;

    .buttonMat {
      width: 100%;
      height: 100%;
      padding: 1rem;
      text-align: justify;
      color: white;
      background-color: black;
      border: black;
      cursor: pointer;
    }
  }
}
.mat-mdc-checkbox.mat-warn {
  --mdc-checkbox-unselected-icon-color: #fff;
}

.table-alarm td:first-child {
  text-align: left;
}

.table-alarm td:last-child {
  text-align: left;
}
